<div>
<h2>la loteria birril</h2>
<p>...</p>
{{#each randomBeer}}
<img  src="{{this.image_url}}" alt="beer" width="100px">
<ol>
<li>
{{this.name}}
{{this.description}}
{{this.tagline}}
{{this.food_pairing}}
{{this.brewer_tips}}
</li>

</ol>

{{/each}}

</div>